---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/blog.css";

import { formatDate } from "../js/script";
import { Image } from "astro:assets";

const { frontmatter } = Astro.props;
const { title, description, date, cover, coverAlt, author } = frontmatter;
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>
    <body>
        <Header />
        <main class="about_area pt-17 relative">
            <article class="container">
                <div class="row justify-end">
                    <div class="w-full">
                        <!-- frontmatter -->
                        <div class="about_content mx-4 pt-11 lg:pt-15 lg:pb-8">
                            <div class="section_title text-center pb-4">
                                <h1 class="main_title">
                                    {title}
                                </h1>
                                <h2 class="text-md text-black font-normal">
                                    by <span class="font-semibold"
                                        >{author}</span
                                    > • {formatDate(date)}
                                </h2>
                            </div>
                            <div class="w-fit mx-auto lg:w-3/4">
                                <Image
                                    src={cover}
                                    alt={coverAlt}
                                    width="1200"
                                    height="600"
                                    format="webp"
                                />
                            </div>
                        </div>

                        <!-- content -->
                        <div class="px-4 lg:px-25 py-4">
                            <slot />
                        </div>
                    </div>
                </div>
                <!-- row -->
            </article>
        </main>
        <Footer />
    </body>
</html>
